apiVersion: apps/v1
kind: Deployment
metadata:
  name: efp-api-gateway
  namespace: efp-production
spec:
  replicas: 2
  selector:
    matchLabels:
      app: efp-api-gateway
  template:
    metadata:
      labels:
        app: efp-api-gateway
    spec:
      securityContext:
        runAsNonRoot: true
        fsGroup: 2000
      containers:
        - name: nginx
          image: nginx:1.25
          ports:
            - containerPort: 8080
          securityContext:
            allowPrivilegeEscalation: false
            readOnlyRootFilesystem: true
            runAsUser: 101
            runAsGroup: 101
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
          volumeMounts:
            - name: nginx-config
              mountPath: /etc/nginx/nginx.conf
              subPath: nginx.conf
      volumes:
        - name: nginx-config
          configMap:
            name: efp-gateway-nginx